<div id="remove_article_confirmation">
<div class="content-subheading"><strong>Danger Zone</strong></div>
	<%= simple_form_for :article, url: admin_article_path(@article), method: :delete do |f| %>
		<span class="warning">Confirm title to delete article:</span>
		<%= f.input :title, label: false, input_html: { value: "" } %>
		<%= f.submit "Remove", class: "pure-button button-warning" %>
	<% end %>
</div>
