.admin-topbar {
	padding: 1em;
	border-bottom: 4px solid hsl(210, 29%, 14%);
	background: hsl(210, 29%, 24%);
	color: white;
}
.admin-email {
	margin: 1em;
	color: hsl(192, 15%, 94%);
}

.admin-title {
	margin: 0;
	font-size: 2em;
}

#remove_article_confirmation {
	margin-top: 1em;
	padding: 1em;
	border: 2px solid hsl(0, 57%, 41%);

	.content-subheading {
		color: hsl(0, 57%, 51%);
		margin-bottom: 1em;
	}	
}
