.admin-topbar {
	padding: 1em;
	border-bottom: 4px solid hsl(210, 29%, 14%);
	background: hsl(210, 29%, 24%);
	color: white;
}
.admin-email {
	margin: 1em;
	color: hsl(192, 15%, 94%);
}

.admin-title {
	margin: 0;
	font-size: 2em;
}
