.site-header {
	padding: 2em;
	background: linear-gradient(hsl(0, 0%, 10%), hsl(0, 0%, 15%));
	color: white;

	.site-logo {
		text-align: center;

		a {
			color: white;
			text-decoration: none;

			&:hover {
				color: silver;
			}
		}
	}
}

.header-nav {
	text-align: center;
	li {
		list-style-type: none;
		display: inline;

		a {
			padding: 0.7em;
			border: 1px solid white;
			border-radius: 2px;
			color: white;
			text-decoration: none;
			font-weight: lighter;

			&:hover {
				border: 1px solid hsl(210, 90%, 50%);
			}
		}
	}
}

.spacer {
	margin-bottom: 1em;
	color: silver;
}

.bio {
	padding: 2em;
}
.about_image {
	border-radius: 4px;
	margin-top: 1em;
}
